{% extends 'EventsBundle::layout.html.twig' %}

{% block main %}
<div><ul>
        {% for child in cmfMainContent.getChildren %}
            {% if child.name ==  'events'%}
                {% for event in child.getChildren %}
                    <li><a href="/events/{{ event.name }}">{{ event.title }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </ul>
</div>
{% endblock %}
