{% extends 'EventsBundle::layout.html.twig' %}

{% block main %}
    <h1>Events Overview</h1>
    <div><ul>
            {% for event in cmfMainContent.getChildren %}
                <li><a href="/events/{{ event.name }}">{{ event.title }}</li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
