<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Demo Bundle{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('bundles/events/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}

    {# CreateJS is only available for admins by default #}
    {% if app.security is not null and is_granted('ROLE_ADMIN') %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endif %}
</head>
<body class="container page">
    <nav class="navbar navbar-inverse page__nav" role="navigation">
        <div class="container-fluid">
            {{ knp_menu_render('simple', {'depth': 3,'currentAsLink': false, 'template': 'EventsBundle:Menu:bootstrap.html.twig', 'currentClass': 'active'}) }}
        </div>
    </nav>

    {% block hero_unit %}{% endblock %}

    <div class="page__main">
        {% block main %}{% endblock %}
    </div>

    {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}
</body>
</html>
